<h3><%="Discount #{@discount.id} Show Page" %></h3>
<p><%= "#{(@discount.percentage * 100).round(0)}% off, after #{@discount.quantity} of any item purchased"%>

<%= link_to "Edit Discount #{@discount.id} Details", edit_merchant_discount_path %>